/*
Basic Theme 1
----------
This is a basic stylesheet for the site that I made so I can avoid having to type all the rules
in it again for new pages.
*/

:root {
	--background-purple: #DEDEFF;	
}

html, body {
	background-color: var(--background-purple);
}

h1 {
	font-family: "Tahoma", "Verdana", sans-serif;
}

h2 {
	font-family: "Verdana", "Tahoma", sans-serif;	
}

h3 {
	font-family: "Trebuchet MS", "Verdana" sans-serif;	
}

hr {
	border-top-color: #DCDCDC;
	border-bottom-color: #E5E5FF;
	border-style: inset;
}
