html, body {
	background-color: #DEDEFF;
}

h1 {
	font-family: "Tahoma", "Verdana", sans-serif;
	font-size: 36px;
}

div.other_links a {
	font-family: "Tahoma", "Verdana", sans-serif;
	font-size: 16px;
}
