*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	/*SET GLOBAL VARS*/

	/*Variable for the font size of section links*/
	--section-link-size: 24px;
}

html, body {
	background-color: #DEDEFF;
	/*This might fix an issue the page has where section content isn't positioned
	correctly when mobile screen orientation changes.*/
	height: 100vh;
}

h1 {
	font-family: "Tahoma", "Verdana", sans-serif;
	font-size: 36px;
}

div.works_section {
	background-color: #DEEFFF;
	border-radius: 10px;
	align-self: center;
	font-family: "Tahoma", sans-serif;
	margin-top: 30px;
	width: auto;
	/*Make a grid with 2 columns, each with a width of 50% of the works_section div*/
	display: grid;
	grid-template-columns: 50% 50%;
}

/*Note to self: sometimes it's better to only select the first child(ren) of an
element to avoid additional margins and padding on deeper children
elements. Pay attention to the "cascading" in "cascading style sheets".*/

div.works_section > div {
	padding: 10px;
	border-radius: 10px;
	margin: 1em;
	word-wrap: break-word;
	max-height: 40vh;
	text-align: center;
	overflow: auto;
	
	/*Animation*/
	transition-property: filter;
	transition-duration: 500ms;
	transition-timing-function: ease;
}

div.works_section > div:hover {
	filter:drop-shadow(0px 0px 1px rgba(112, 112, 112, 0.6));
}

/*
SECTION LINK CONTAINERs
*/

div.section_link_container {
	width: fit-content;
	margin: 0px auto 0px auto;
	overflow-wrap: anywhere;

	/*Animation*/
	transition-property: transform, filter;
	transition-duration: 250ms;
	transition-timing-function: ease;
}

div.section_link_container:hover {
	transform: scale(1.02);
}

div.section_link_container a {
	color: #505050;
	font-weight: bold;
	font-size: var(--section-link-size);
}

div.section_link_container a:hover {
	text-decoration: none;
}

/**/

/*
SECTION COLORS
*/

div.game_dev_section {
	background-color: #E8FFF0;
}

div.programming_section {
	background-color: #CFD0FF;
}

div.music_section {
	background-color: #FFD0CF;
}

div.art_section {
	background-color: #FFF8DB;
}

/**/

/*
IMG CONTAINERS
*/

div.img_container_left, div.img_container_right {
	max-width: 45%;
	/*Subtract the height of the section link to keep the img containers inside
	their divs when viewport is vertically squished*/
	height: calc(80% - var(--section-link-size));
	max-height: calc(80% - var(--section-link-size));
	margin: 12px 10px 0px 10px;

	/*Center images*/
	display: inline-flex;
	justify-content: center;
}

div.img_container_left img, div.img_container_right img {
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
	margin-bottom: auto;
	filter: drop-shadow(1px 2px 2px rgba(128, 128, 128, 0.5));
	
}

/**/
