:root {
	/* Custom properties for images of Prickly Testers card designs */
	--card-front-1: url(https://i.imgur.com/rqGBLwU.png);
	--card-front-2: url(https://i.imgur.com/XyV2Iy2.png);
	--card-back: url(https://imgur.com/LIJfvl8.png);
}
