/* Change the box sizing property globally*/
*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	background-color: #DEDEFF;
	/*This might fix an issue the page has where section content isn't positioned
	correctly when mobile screen orientation changes.*/
	height: 100vh;
}

#sidebar_left {
	border: 1px solid black; /*Used for debugging*/
	/*
	width: max-content;*/
	max-width: 15vw;
	overflow: hidden;

	/*Grid*/
	grid-area: sidebar_left;
}

#listing_section {
	display: grid;
	grid-template-columns: 1fr 8fr;
	grid-template-rows: max-content;
	grid-template-areas:
	"sidebar_left section_buttons_box section_buttons_box"
	"sidebar_left works_listing works_listing"
}

.section_buttons_box {
	border: 1px solid lightblue; /*Used for debugging*/
	height:max-content;

	/*Grid*/
	grid-area: section_buttons_box;
}

.section_buttons_box h2{
	margin: 0px;
	padding: 0px;
}

#section_buttons_container {
	/*Flexbox*/
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.section_button {
	margin-left: 2%;
	margin-right: 2%;
}

#works_listing {
	background-color:#E9E9F9;
	border: 1px solid green; /*Used for debugging*/
	margin: 8px 0vw 0px 0.75vw;

	grid-area: works_listing;

	display: flex;
	flex-wrap: wrap;
}

/*
LISTING ENTRIES
*/

.listing_entry {
	border: 1px solid gray; /*Used for debugging*/
	/*TODO: Set background color depending on what type the entry is using JS*/
	border-radius: 8px;
	width: calc(50% - 2*0.5vw);
	text-align: center;
	margin: 0.5vh 0.5vw 0.5vh 0.5vw;
	padding: 0.825vh 0.5vw 0.825vh 0.5vw;

	/*Grid*/
	grid-area: listing_column;
}

/*upright mobile phone screen width: 425 px*/ 
@media only screen and (max-width: 425px) {
  .listing_entry {
  	/*Make it so entries only take up 1 column instead of 2*/
    width: 100%;
  }
}

.listing_entry_title {
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	margin-top: 0.825vh;
}

.listing_entry img {
	max-width: 90%;
	max-height: 40vh;
	display: block;
	filter: drop-shadow(1px 2px 2px rgba(128, 128, 128, 0.5));
	/*Set the space away from the title*/
	margin-top: 0.825vh;

	/*Center the image*/
	margin-left: auto;
	margin-right: auto;
}

.listing_entry p {
	margin-bottom: 0px;
}
