*, *::before, *::after {
	box-sizing: border-box;
}

:root {
	/*
	Approximate viewport height in px for desktop browsers. Used for responsive design
	with relative viewport units.
	To use it with font-size and max(), use the following, where [size] is the
	font size in px for use on a desktop browser:
	max([size]px, ([size] / var(--desktop-view-height-px)) * 100vh);
	*/
	--desktop-view-height-px: 950;
	
	/*
	Margin size for entries in the works listing section.
	Also used for the padding of the works listing container (#works_listing)
	*/
	--listing-entry-margin: 0.25vh;
	
	/*
	The offset above a listing entry title when jumping to it using an anchor link from the left sidebar.
	The values below are copy-pasted from the nav. ribbon CSS file.
	This could probably be done more robustly in JS, but a hacky, CSS-only solution is okay with me for now.
	*/
	--entry-scroll-margin-top: 
	calc(
		/* font size of links */
		max(18px, (18 / var(--desktop-view-height-px)) * 100vh)
		/* top and bottom padding of links */
		+ 2 * max(5px, (5 / var(--desktop-view-height-px)) * 100vh)
		/* top and bottom padding of nav. ribbon */
		+ 2 * max(7px, (7 / var(--desktop-view-height-px)) * 100vh)
		/* Some extra space to make the title more comfortable to read */
		+ 0.5vh
	);
}

html, body {
	background-color: #DEDEFF;
	/*
	NOTE: Setting the height of the body to 100vh can break the sticky nav. ribbon on
	very thin screens. Thus, the height of the body isn't set to that anymore.
	*/
}

h1 {
	font-family: "Tahoma", "Verdana", sans-serif;
	/* Double setting for compatibility */
	font-size: 36px;
	font-size: max(36px, (36 / var(--desktop-view-height-px)) * 100vh);
	overflow-wrap: break-word;
}

hr {
	border-top-color: #DCDCDC;
	border-bottom-color: #E5E5FF;
	border-style: inset;
	border-width: 0.1vh;
}

/* Style everything under the navigation ribbon */
#listing_section {
	/* Grid */
	display: grid;
	/*
	Try to keep the left sidebar at a width of 10% of the viewport width.
	If the sidebar becomes wide enough to fit every block of text on a single line,
	prevent it from expanding any more. Note that the left sidebar also has a minimum
	width set in its own rule so that the text inside doesn't get too messy.
	*/
	grid-template-columns: fit-content(10%) 1fr;
	/*
	The 1fr is included here because Firefox currently renders max-content
	weirdly
	*/
	grid-template-rows: max-content 1fr;
	grid-template-areas:
	"sidebar_left section_buttons_box section_buttons_box"
	"sidebar_left works_listing works_listing"
	;

	/* Add a bit of space at the very bottom of the webpage */
	padding-bottom: 10px;
}

/**************************************************
LEFT SIDEBAR
**************************************************/

#sidebar_left {
	border-top: 1px solid #4d4d4d;
	border-right: 1px solid #4d4d4d;
	border-left: 1px solid #c9c9c9;
	border-bottom: 1px solid #8f8f8f;
	
	/* background-color:#F2E7F7; */
	/* Background gradient. Thanks to https://cssgradient.io/ */
	background: rgb(253,250,255);
	background: linear-gradient(90deg, rgba(253,250,255,1) 0%, rgba(242,231,247,1) 25%, rgba(242,231,247,1) 100%); 
	overflow-wrap: break-word;
	/* Double setting for compatibility */
	padding: 8px 8px 0px 3px;
	padding: 
		max(8px, (8 / var(--desktop-view-height-px)) * 100vh)
		max(8px, (3 / var(--desktop-view-height-px)) * 100vh)
		0px
		max(3px, (3 / var(--desktop-view-height-px)) * 100vh);
	
	/* Grid */
	grid-area: sidebar_left;
	/* Prevent the text inside the left sidebar from becoming messy because of wrapping */
	min-width: min-content;
}

#sidebar_left h3 {
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 24px;
	font-size: max(24px, (24 / var(--desktop-view-height-px)) * 100vh);
	margin: 0px 0px 0.1875em 0.15em;

}

#sidebar_left a {
	display: block;
	width: 100%;
	color: hsl(240, 67%, 25%);
	
	/* Font */
	/* Double setting for compatibility */
	font-size: 18px;
	font-size: max(18px, (18 / var(--desktop-view-height-px)) * 100vh);
	font-family: "Trebuchet MS", sans-serif;
	font-weight: 600;
	font-kerning: none;
	
	text-decoration: none;
	cursor: pointer;

	/*
	Set margin and padding.
	The vertical space surrounding the text is padding in order to prevent inconsistent
	vertical spacing when some of the links are hidden.This is due to margin collapsing.
	*/
	margin: 0em 0.25em 0em 0.12em;
	padding: 0.25em 0em 0.275em 0em;
}

#sidebar_left a:hover:not([href=""]) {
	text-decoration: underline;
}

#sidebar_left .hidden {
	opacity: 0%;
	padding: 0px;
	max-height: 0px;
	/* Try to prevent filtered links from being read by screen readers */
	visibility: hidden;
}

/**************************************************
SECTION BUTTONS
**************************************************/

#section_buttons_box {
	height: max-content;
	margin: 0.5vh 0vw 0.5vh 0.5vw;

	/* Grid */
	grid-area: section_buttons_box;
}

#section_buttons_box h2 {
	color: #707275;
	padding: 0px;
	margin: 0.3vh 0px 0px 0.3vh;
	overflow-wrap: break-word;
	
	/* Font */
	font-size: 32px;
	font-size: max(32px, (32 / var(--desktop-view-height-px)) * 100vh);
	font-family: "Verdana", sans-serif;
	font-weight: bold;
}

/* TODO: Try to change CSS code for section buttons so that the "Art" button won't be super wide for some window dimensions */
#section_buttons_container {
	/* Flexbox */
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	row-gap: 0.4vh;
}

.section_button {
	color: #505050;
	cursor: pointer;
	border: none;
	border-radius: 8px;
	border-radius: max(8px, (8 / var(--desktop-view-height-px)) * 100vh);
	margin-left: 0.5%;
	margin-right: 0.5%;
	padding: 1.3vh 1vw 1.3vh 1vw;
	overflow-wrap: anywhere;
	
	/* Font */
	font-family: "Tahoma", sans-serif;
	font-weight: bold;
	/* Double setting for compatibility */
	font-size: 28px;
	font-size: max(28px, (28 / var(--desktop-view-height-px)) * 100vh);

	/* Flex */
	flex-grow: 1;
	
	/* Animation */
	transition:
		transform 50ms ease-out,
		box-shadow 400ms linear;
}

/* Style when hovering over a button that is not currently pressed */
.section_button:hover:not(.pressed_button) {
	box-shadow: 0px 0px 1px 1px #cccccc;
}

/* Style when mouse is held down on a button */
.section_button:active {
	transform: scale(0.95);
}

.section_button.pressed_button {
	transform: scale(0.95);
	filter: saturate(400%) grayscale(60%) contrast(80%);
}

#all_entries_button {
	background-color: #EFEFEF;
	padding-left: 30px;
	padding-right: 30px;
}

#game_dev_button {
	background-color: #E8FFF0;
}

#programming_button {
	background-color: #CFD0FF;
}

#music_button {
	background-color: #FFD0CF;	
	padding-left: 30px;
	padding-right: 30px;
}

#art_button {
	background-color: #FFF8DB;
	padding-left: 30px;
	padding-right: 30px;
}

/**************************************************
WORKS LISTING
**************************************************/

#works_listing {
	/* TODO: Set background color depending on what type the entry is using JS */
	/* Animation */
	transition-property: background, background-color;

	/* Background gradient. Thanks to https://cssgradient.io/ */
	background: rgb(183,157,204);
	background: linear-gradient(0deg, rgba(222,222,255,1) 0%, rgba(229,229,245,1) 3%, rgba(233,233,249,1) 100%);
	/* Double setting for compatibility */
	border: 2px solid #707275;
	border: max(2px, (2 / var(--desktop-view-height-px)) * 100vh) solid #707275;
	margin: 8px 0px 0px 0.5vw;
	padding: var(--listing-entry-margin);
	
	/* Flex */
	display: flex;
	flex-wrap: wrap;
	
	/* Grid */
	grid-area: works_listing;
}

.listing_entry {
	border: 1px solid #808080;
	border-radius: 8px;
	border-radius: max(8px, (8 / var(--desktop-view-height-px)) * 100vh);
	margin: var(--listing-entry-margin);
	/* Set width based on margins of entries */
	width: calc(50% - 2*var(--listing-entry-margin));
	
	padding: 0.825vh 0.5vw 0.825vh 0.5vw;
	text-align: center;

	/* Background gradient. Thanks to https://cssgradient.io/ */
	background: rgb(222,222,255);
	background: linear-gradient(0deg, rgba(222,222,255,1) 15%, rgba(227,212,238,1) 50%, rgba(233,233,249,1) 90%);
	
	/* Grid */
	grid-area: listing_column;
	
	/* Trying to make it work on iOS using scroll-snap-margin-top */
	scroll-snap-margin-top: var(--entry-scroll-margin-top);
	scroll-margin-top: var(--entry-scroll-margin-top);
}

/*
For use with JS. When hidden because a filter button was clicked, an entry
doesn't appear in the document.
*/
.listing_entry.hidden {
	display: none !important;
}

/* Prevent a elements in listing entries from linking to the current page because their href attributes are empty strings */
.listing_entry a[href=""] {
	pointer-events: none;
}

.listing_entry_title {
	color: #000000;
	cursor: pointer;
	text-decoration: none;
	font-family: "Verdana", sans-serif;
	font-weight: bold;
	/* Double setting for compatibility */
	font-size: 28px;
	font-size: max(28px, (28 / var(--desktop-view-height-px)) * 100vh);
	margin-top: 0.825vh;
	overflow-wrap: break-word;
}

/* Change cursor icon and underline title of listing entry if its href attribute isn't an empty string */
.listing_entry_title[href=""] {
	cursor: default;
}

.listing_entry_title:hover:not([href=""]) {
	text-decoration: underline;
}
/**/

.listing_entry img {
	display: block;
	cursor: pointer;
	filter: drop-shadow(1px 2px 2px rgba(128, 128, 128, 0.5));
	
	/* Set the space away from the title */
	margin-top: 0.75vh;

	/* Center the image */
	margin-left: auto;
	margin-right: auto;
	
	max-height: 40vh;
	max-width: 90%;
}

.listing_entry audio {
	display: block;
	filter: drop-shadow(1px 2px 2px rgba(128, 128, 128, 0.5));

	/* Set the space away from the title */
	margin-top: 0.75vh;

	/* Center the audio player */
	margin-left: auto;
	margin-right: auto;

	max-width: 90%;
	
	/* Make sure pointer events aren't disabled */
	pointer-events: initial !important;
}

.listing_entry p {
	/* Double setting for compatibility */
	font-size: 20px;
	font-size: max(20px, (20 / var(--desktop-view-height-px)) * 100vh);
	font-family: "Georgia", serif;
	margin-bottom: 0px;
}

/**************************************************
MEDIA QUERIES
**************************************************/

/* For widescreen viewports rotated 90 degrees clockwise or counterclockwise */
@media only screen and (max-aspect-ratio: 12 / 16) {
	#listing_section {
	/* Exclude the left sidebar from the grid */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: max-content;
	grid-template-areas:
	"section_buttons_box"
	"works_listing"
}

	#sidebar_left {
		display: none;
	}

	.listing_entry {
  	/* Make it so entries only take up 1 column instead of 2 */
    	width: 100%;
  	}

	.listing_entry img {
	max-height: 20vh;
	max-width: 90%;
	}
}

/* For very wide screens */
@media only screen and (min-aspect-ratio: 32 / 9) {
  .listing_entry {
  	/* Make it so entries take up 3 columns instead of 2 */
    	width: calc(calc(100% / 3) - 2*var(--listing-entry-margin));
  	}
}

/**************************************************
SPECIAL CASES FOR ENTRIES
**************************************************/
#lionel\%27s\-gold\-quest img,
#jebs\%27s\-infernal\-escape img {
	/*
	Upscale without noticeable blurriness.
	Some browsers currently don't support the crisp-edges property.
	*/ 
	image-rendering: -webkit-optimize-contrast;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
	
	/* Stretch image but maintain its aspect ratio */
	width: 100%;
	object-fit: contain;
}
